<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="style/estilo.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <title>home</title>
    </head>
    <body>
    
    
            <nav class="flex spb centerv">
    
                <img src="img/logo.jpg" height="70%" alt="logo de la empresa">
                <div class="menu flex spb md-4 quicksand">
                    <a href="" class="t-oro">CATEGORIAS</a>
                    <a href="" class="t-oro">EVENTOS</a>
                    <a href="" class="t-oro">IMAGEN PERSONAL</a>
                    <a href="" class="t-oro">CONTACTO</a>
                </div>
    
                <div class="sesion cvl">
                    <a class="empresa"><span class="material-icons-outlined med">login</span>EMPRESAS</a>
                </div>
    
            </nav>
        <div class="buscador flex oro100 centrodorado" >
            <div class="icons">
    
                    <span class="material-icons-outlined med icono">lightbulb</span>
                    <span class="material-icons-outlined med icono">sell</span>
                    <span class="material-icons-outlined med icono">event_available</span>
    
            </div>
    
                <div class="buscar quicksand">
    
                    <a href="" class="colorblanco" >NUEVA BUSQUEDA:</a>
    
                    <form>
                        <select>
                            <option>Zona ejemplo: San Miguel</option> 
                        </select>
                        <select class="select2"> 
                            <option>¿Que estas buscando?</option>
                        </select>
                    </form>
    
                    <span class="material-icons-outlined med lupita">search</span>
                    
                </div>
        </div>
        <div class="contenedor_home">
                <div class="home quicksand flex">
                    <h4>HOME / EVENTOS</h4>
                </div>
                <div class="buscadores">                  
                        <select class="tamanio_busq color_busq">
                            <option>Gran Buenos Aires</option>
                        </select>
                        <select class="tamanio_busq color_busq">
                            <option>Proximos 7 dias</option>
                        </select>
                        <select class="tamanio_busq color_busq">
                            <option> </option>
                        </select>
                        <select class="tamanio_busq color_busq">
                            <option>Todos los lugares</option>
                        </select>                
                </div>

                <div class="cuadrouno quicksand">
                    <h4 class="eti_dorad">SÁBADO 16 DE FEBRERO</h4>
                    <div class="cuadrouno_dorado">
                        <h3 class="grosor_letra_fina">Corredor de Bella Vista</h3>
                        <h1 class="grosor_letra">Running Challenge 7ma edición</h1>
                        <h5 class="grosor_letra_fina">3k - 5k - 10k - 21k - 42k</h5>
                    </div>
                </div>

                <!-- <div class="imagencuadrotres_tres">
                    <h4 class="cuadrotres_imagendorada quicksand">SABADO 16 DE FEBRERO</h4>   
                </div> -->
            

                <div class="cuadrodos">
                    <div class="cuadrodoss">
                        <div class="rombo">
                        </div>
                        <div class="fotocuadrodos">
                            <div class="imagen_cuadrodoss">
                                <h4 class="cuadrotres_imagendorada quicksand">MARTES 12 DE FEBRERO</h4>
                            </div>
                        </div>
                        <div class="texto_cuadrodoss">
                            <h4 class="quicksand colordorado grosor_letra_gruesa">Plaza Muñiz</h4>
                            <h2 class="quicksand colordorado grosor_letra">Concierto al aire libre</h2>
                            <p class="quicksand">jungkook te amooo te amooo jungkook te amoooo te amo jungkook te amo</p>
                            <div class="color_texto_cuadrodoss">
                                <h5 class="quicksand grosor_letra_gruesa">Pte Perón 2453, Muñiz</h5>
                                <h4 class="quicksand grosor_letra_gruesa">+ INFO</h4>
                            </div>
                        </div>
                    </div>
                    <div class="cuadrodoss">
                        <div class="fotocuadrodos">
                            <div class="imagen_cuadrodoss">
                                <h4 class="cuadrotres_imagendorada quicksand">MARTES 12 DE FEBRERO</h4>
                            </div>
                        </div>
                        <div class="texto_cuadrodoss">
                            <h4 class="quicksand colordorado grosor_letra_gruesa">Plaza Muñiz</h4>
                            <h2 class="quicksand colordorado grosor_letra">Concierto al aire libre</h2>
                            <p class="quicksand">jungkook te amooo te amooo jungkook te amoooo te amo jungkook te amo</p>
                            <div class="color_texto_cuadrodoss">
                                <h5 class="quicksand grosor_letra_gruesa">Pte Perón 2453, Muñiz</h5>
                                <h4 class="quicksand grosor_letra_gruesa">+ INFO</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cuadrotres">
                    <div class="cuadrotress">
                        <div class="fotocuadrotres">
                            <div class="imagencuadrotres_uno">
                                <h4 class="cuadrotres_imagendorada quicksand">MARTES 12 DE FEBRERO</h4>   
                            </div>
                        </div>
                        <div class="texto_cuadrodoss">
                            <h4 class="quicksand colordorado grosor_letra_gruesa">Plaza Muñiz</h4>
                            <h2 class="quicksand colordorado grosor_letra">Concierto al aire libre</h2>
                            <p class="quicksand">jungkook te amooo te amooo jungkook te amoooo te amo jungkook te amo</p>
                            <div class="color_texto_cuadrodoss">
                                <h5 class="quicksand grosor_letra_gruesa">Pte Perón 2453, Muñiz</h5>
                                <h4 class="quicksand grosor_letra_gruesa">+ INFO</h4>
                            </div>
                        </div>
                    </div>
                    <div class="cuadrotress">
                        <div class="fotocuadrotres">                       
                            <div class="imagencuadrotres_dos">
                                <h4 class="cuadrotres_imagendorada quicksand">VIERNES 15 DE FEBRERO</h4>                            
                            </div>
                        </div> 
                        <div class="texto_cuadrodoss">
                            <h4 class="quicksand colordorado grosor_letra_gruesa">Club Bella Vista</h4>
                            <h2 class="quicksand colordorado grosor_letra">Expo Cactus 2019</h2>
                            <p class="quicksand">jungkook te amooo te amooo jungkook te amoooo te amo jungkook te amo</p>
                            <div class="color_texto_cuadrodoss">
                                <h5 class="quicksand grosor_letra_gruesa">Richieri 1423, Bella Vista</h5>
                                <h4 class="quicksand grosor_letra_gruesa">+ INFO</h4>
                            </div>
                        </div>
                    </div>
                    <div class="cuadrotress">
                        <div class="fotocuadrotres">
                            <div class="imagencuadrotres_tres">
                                <h4 class="cuadrotres_imagendorada quicksand">SABADO 16 DE FEBRERO</h4>   
                            </div>
                        </div>
                        <div class="texto_cuadrodoss">
                            <h4 class="quicksand colordorado grosor_letra_gruesa">Plaza San Miguel</h4>
                            <h2 class="quicksand colordorado grosor_letra">Concierto al aire libre</h2>
                            <p class="quicksand">jungkook te amooo te amooo jungkook te amoooo te amo jungkook te amo</p>
                            <div class="color_texto_cuadrodoss">
                                <h5 class="quicksand grosor_letra_gruesa">Pte Perón 1053, San Miguel</h5>
                                <h4 class="quicksand grosor_letra_gruesa">+ INFO</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify">
                    <button class="ultboton quicksand">CARGAR MAS</button>
                </div>
            

            <footer class="flex justify">
                <div class="secciones md-6 ">
                    <div class="md-12 h40">
                        <img src="img/logo.jpg" height="100%">
                    </div>
                    <div class="flex"> 
                        <ul class="md-6 flex col fsvert orden">
                            <li><p>CATEGORIAS</p></li>
                            <li><p>EVENTOS</p></li>
                            <li><p>PERSONAL</p></li>
                            <li><p>CONTACTO</p></li>
                        </ul>
                        <ul class="md-6 flex col fsvert">
                            <li><p>LEGALES</p></li>
                            <li><p>TERMINOS Y CONDICIONES</p></li>
                            <li><p>TRABAJA CON NOSOTROS</p></li>
                            <li><p>ANUNCIA EN EL PORTAL</p></li>
                        </ul>
                    </div>
                </div>
                <div class="newsletter md-6 ">
                    <h4 class="newsletter colordorado quicksand">Newsletter y promociones</h4>
                    <input type="submit" name="button" class="abajo" value="Dejanos tu correo y recibi las ultimas noticias!">
                    <input type="submit" name="button"class="bsub entrar quicksand" value="SUSCRIBIRSE">
        
                    <div class="logos">
                        <p class="quicksand colordorado">Seguinos en nuestras redes:</p>
                        <img src="img/mensaje.png" class="mensaje">
                        <img src="img/instagram.png" class="insta">
                        <img src="img/twitter.png" class="twitter">
                        <img src="img/facebook.png" class="facebook">
                        <img src="img/pinterest.png" class="pinterest">
                        <img src="img/linkedin.png" class="linkedin">
                    </div>
                </div>
                
            </footer>
        </div> 
    </body>
</html>